<p>Hi <%= @campaign.user.full_name %>, we have bad news for you ;(<br/>
Unfortunately your new campaign called <%= @campaign.name %> has not been created. But don't worry, it happens sometimes because of our 
third party connections. Please try again to create your campaign.
</p>

<p>
	Our developer team has been notified about this error and investigating the problem, thank you for your understanding.
</p>