<script id="campaigns_template_table" type="text/x-jquery-tmpl">
<h1>My Campaings</h1>
<ul class="campaigns">
	${list}
</ul>
</script>
<script id="campaigns_template_tr" type="text/x-jquery-tmpl">
<li id="campaign_${id}" class="campaign ${campaign_class}">
	<span class="visit">
		<a href="http://${slug}.campanify.it" target="_blank" rel="tooltip" title="Visit Site">${name}</a>
	</span>
	<div class="actions pull-right">
  <span class="status">${status}</span>	
  <span class="price">${price}$</span>

	<span class="manage"><a href="http://${slug}.campanify.it/admin" target="_blank" rel="tooltip" title="Manage Site"><i class="icon-asterisk"></i></a></span>	
	
  <span class="plan" data-plan="${plan}">
	<a href="#" rel="popover" data-original-title="Change Plan" data-html="true" data-placement="left" data-content='<select class="change_campaign_plan input input-small campaign_plan_small" data-id="${id}" onchange="$.changePlan(this);">
	<option value="free">free</option>	
	<% if current_user && current_user.level > 0 %>	
	<option value="town">town</option>
	<option value="city">city</option>
	<option value="country">country</option>
	<option value="earth">earth</option>
	<% end %>
	</select>'><i class="icon-flag"></i></a>
	</span>

  <span class="theme" data-theme="${theme}">
	<a href="#" rel="popover" data-original-title="Change Theme" data-placement="left" data-html="true" data-content='
	<select class="change_campaign_theme input input-small campaign_theme_small" data-id="${id}" onchange="$.changeTheme(this);">
	<option value="default">default</option>		
	<option value="naked">naked</option>
	</select>'><i class="icon-eye-open"></i></a>
	</span>

	<a href="/api/campaigns/${id}" class="destroy" rel="tooltip" title="Destroy" data-remote="true" data-method="delete" data-confirm="Are You Sure?"><i class="icon-remove"></i></a>		
	</div>		
</li>
</script>
<script id="campaigns_template_error" type="text/x-jquery-tmpl">
<div class="alert flash">
  <button type="button" class="close" data-dismiss="alert">×</button>
  ${message}
</div>
</script>