<ul id="menu" class="nav nav-list">
  <li class="nav-header"><i class="logo-96 small"></i><i class="icon-chevron-down pull-right visible-phone"></i></li>
  <li><a href="#pages/new_campaign"><i class="icon-plus"></i> New Campaign</a></li>
  <li><a href="#my_campaigns"><i class="icon-list"></i> My Campaigns</a></li>
  <li><a href="#pages/plans"><i class="icon-globe"></i> Plans</a></li>
	<li class="divider"></li>
	<li><a href="<%= destroy_user_session_path %>" data-method="delete"><i class="icon-off"></i> Sign Out</a></li>	
</ul>