<h2>FEATURES</h2>
<div class="features row-fluid">
	<div class="span4">
		<h3>Cloud Powered</h3>
		<p>Servers, Files, Database, all in Cloud</p> 
		<ul>
			<li>Flexible, pay-as-you-go pricing</li>
			<li>%99.5 uptime</li>
			<li>Unlimited File Storage</li>
			<li>Fast CDN</li>
			<li>High-performance Postgres SQL Databases</li>
			<li>Daily Backups</li>			
		</li>
		</ul>
	</div>	
	<div class="span4">
		<h3>Fully Managed</h3>
		<p>A Managed Hosting environment offers you the flexibility to build a truly tailored solution. 
			We do our best to ensure you've got a stable operating environment, so you can focus on your campaign.</p>
	</div>
	<div class="span4">
		<h3>Scaleable</h3>
		<p>We provide you predefined `Plans` and easy to use tools to scale your campaign site for millions or a small group in seconds.</p>
	</div>
</div>

<hr/>

<div class="features row-fluid">	
	<div class="span4">
		<h3>One Click Setup</h3>
		<p>Yes, to create a new campaign you have to only do type a campaigns name and click start! After ~10 minutes you will be online</p>
	</div>
	<div class="span4">
		<h3>Flexible</h3>
		<ul>
			<li>Plug and Play modules</li>
			<li>Built-in responsive mobile ready themes</li>
			<li>Fully customisable html/css templates</li>
			<li>Widgets</li>
		</ul>	
	</div>
	<div class="span4">
		<h3>Administration</h3>
		<ul>
			<li>User Roles</li>
			<li>XSL, CSV export</li>
			<li>Search, Filter and Scopes</li>
		</ul>	
	</div>	
</div>

<hr/>

<div class="features row-fluid">	
	<div class="span4">
		<h3>Built in Supporter Module</h3>
		<ul>
		<li>Avatar Support</li>	
		<li>Secure authorization</li>	
		<li>Facebook Connect</li>			
		<li>Customizable petition form</li>
		<li>Wide range of data fields</li>		
		<li>Built in Gamification System</li>		
		<li>Opt in/out, Double Opt in/out, Confirmation</li>				
		<li>Signup Hooks:
			<ul>
			<li>Custom Email send</li>
			<li>Facebook status update</li>			
			<li>Twitter status update</li>			
			</ul>
		</li>
		</ul>
	</div>
	<div class="span4">
		<h3>Branches</h3>
		<ul>
		<li>Auto Language/Country detection</li>		
		<li>Per Country/Branch settings</li>
		</ul>
		<br/>
		<br/>
		<h3>Multilingual</h3>
		<ul>
		<li>Add Remove languages without fuss</li>
		<li>Easy to Translate i18n System</li>		
		</ul>
	</div>
	
	<div class="span4">
		<h3>Multimedia</h3>
		<ul>
		<li>Youtube</li>
		<li>Vimeo</li>		
		<li>File Upload</li>
		</ul>
		<br/>
		<h3>Blog</h3>
		<p>Super Simple Blog engine</p>

		
	</div>
	
</div>

<hr/>

<div class="features row-fluid">	
	<div class="span4">
		<h3>Analytics</h3>
		<li>Most Popular Supporters and Posts</li>
		<li>Supporters by Country map</li>
		<li>Time Based Line Charts</li>
		</p>
	</div>
	<div class="span4">
		<h3>Pages</h3>
		<p>Unlimited fully customisable page creation</p> 
	</div>
	<div class="span4">
		<h3>Support</h3>
		<p>Email, Skype and Phone Support</p> 
	</div>
</div>
		