<h2>PERFORMANCE</h2>
<h3>100 Thread (users) with 5 second ramp-up period on Free Plan</h3>
<%= image_tag "performance/Free100-5.png" %>
<h3>100 Thread (users) with 0 second ramp-up period  on Free Plan</h3>
<%= image_tag "performance/Free100-0.png" %>
<h3>1000 Thread (users) with 5 second ramp-up period on Free Plan</h3>
<%= image_tag "performance/Free1000-5.png" %>
<h3>1000 Thread (users) with 0 second ramp-up period  on Free Plan</h3>
<%= image_tag "performance/Free1000-0.png" %>
