<h2>PLANS</h2>
<div class="plans row-fluid">
		<div class="span2">
			<h5>Free</h5>
			<ul>
			<li>1 Web Instance<br/>&nbsp;</li>
			<li>10,000 row limit<br/>No Cache</li>
			<li>25mb(dev)</li>
			<li>Send 200 / day</li>						
			<li>No support<br/>&nbsp;</li>
			<li>$0</li>
			</ul>
		</div>	
		<div class="span2">
			<h5>Town</h5>
			<ul>
			<li>2 Web Instance<br/>&nbsp;</li>
			<li>10 million row limit<br/>No Cache</li>
			<li>25mb(dev)</li>			
			<li>Send 40,000 / month</li>						
			<li>Email<br/>&nbsp;</li>
			<li><a href="mailto:info@campanify.it?subject=Quote enquiry for Town">Ask for price</a></li>
			</ul>
		</div>
		<div class="span2">
			<h5>City</h5>
			<ul>			
			<li>3 Web Instance<br/>1 Worker Instance</li>
			<li>Unlimited DB<br/>0.4 GB cache</li>
			<li>100mb</li>						
			<li>Send 100,000 / month</li>						
			<li>Email<br/>&nbsp;</li>
			<li><a href="mailto:info@campanify.it?subject=Quote enquiry for City">Ask for price</a></li>
			</ul>			
		</div>
		<div class="span2">
			<h5>Country</h5>
			<ul>			
			<li>4 Web Instance<br/>2 Worker Instance</li>
			<li>Unlimited DB<br/>0.8 GB cache</li>
			<li>250mb</li>						
			<li>Send 300,000 / month</li>						
			<li>Email &amp; Skype<br/>&nbsp;</li>
			<li><a href="mailto:info@campanify.it?subject=Quote enquiry for Country">Ask for price</a></li>
			</ul>			
		</div>
		<div class="span2">
			<h5>Earth</h5>
			<ul>
			<li>8 Web Instance<br/>4 Worker Instance</li>
			<li>Unlimited DB<br/>1.7 GB cache</li>
			<li>500mb</li>						
			<li>Send 700,000 / month</li>						
			<li>Email, Skype<br/>Basic phone</li>
			<li><a href="mailto:info@campanify.it?subject=Quote enquiry for Earth">Ask for price</a></li>
			</ul>
		</div>
		<div class="span2">
			<h5>Custom</h5>
			<ul>
			<li>
				<label>Web Instance</label>
				<input type="number" max="100" min="1" id="ps-web" value="1" /><br/>
				<label>Worker Instance</label>					
				<input type="number" max="100" min="0" id="ps-worker" value="0" />
			</li>
			<li>
				<label>Database</label>
				<select id="postgres"></select>
				<span id="postgres_desc"></span>
			</li>
			<li>
				<label>Memcache</label>
				<select id="memcachier"></select>
			</li>			
			<li>
				<label>Emails</label>
				<select id="sendgrid"><option value="0">None</option></select>
				<span id="sendgrid_desc"></span>
			</li>						
			<li><label>Support</label>
				<select id="support">
				<option value="0">None</option>
				<option value="1">Email</option>
				<option value="3">Email + Skype</option>								
				<option value="7">Email + Skype + Phone</option>												
				</select>
			</li>
			<li><a href="javascript:mailtoCustom();">Ask for price</a></li>
			</ul>
		</div>
</div>		
<script>
	function mailtoCustom() {
		
		var ps_count = 	Number($("#ps-web").val()) + Number($("#ps-worker").val());
		
		var href = "mailto:info@campanify.it?subject=Quote enquiry for Custom&body=" + 
		"ps count:" + " " + ps_count + 
		"%0D%0A" + 
		"postgres:" + " " + $("select#postgres").val() +		
		"%0D%0A" + 
		"memcachier:" + " " + $("select#memcachier").val() +		
		"%0D%0A" + 
		"sendgrid:" + " " + $("select#sendgrid").val() +		
		"%0D%0A" + 
		"support:" + " " + $("select#support").val();		
		
		location.href = href;
	}
</script>