<h1>Plans</h1>

<div class="row plans">
  <div class="span2">
  	<h2>free</h2>
		0$ / month<br/>
		single web instance<br/>
		10,000 row limit<br/>
		No dedicated data cache<br/>
		200 emails per day
  </div>
  <div class="span2">
  	<h2>town</h2>
		139$ / month<br/>
		single web instance<br/>
		single worker instance<br/>
		10 million row limit<br/>
		No dedicated data cache<br/>
		40,000 emails per month
  </div>
  <div class="span2">
  	<h2>city</h2>
		369$ / month<br/>
		double web instance<br/>
		single worker instance<br/>
		no row limit<br/>
		0.4 GB cache<br/>
		100,000 emails per month
  </div>
  <div class="span2">
  	<h2>country</h2>
		799$ / month<br/>
		quad web instance<br/>
		double worker instance<br/>
		no row limit<br/>
		0.8 GB cache<br/>
		300,000 emails per month
  </div>
  <div class="span2">
  	<h2>earth</h2>
		1619$ / month<br/>
		octuple web instance<br/>
		quad worker instance<br/>
		no row limit<br/>
		1.7 GB cache<br/>
		700,000 emails per month
  </div>
  <div class="span2">
  	<h2>not enough?</h2>
		<a href="mailto:info@campanify.it">contact us</a>
  </div>
</div>

	

	

	

