<h2>PLANS</h2>
<div class="plans row-fluid">
<table class="table table-bordered table-hover">
	<thead>
		<tr>
			<th>Name</th>
			<th>Server Instance</th>
			<th>Database</th>
			<th>Emails</th>						
			<th>support</th>
			<th>Price</th>			
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Free</td>
			<td>Single Web Instance</td>
			<td>10,000 row limit<br/>No Cache</td>
			<td>Send 200 emails per day</td>						
			<td>No support</td>
			<td>$0</td>			
		</tr>
		<tr class="success">
			<td>Town</td>
			<td>Double Web Instance</td>
			<td>10 million row limit<br/>No Cache</td>
			<td>Send 40,000 emails per month</td>						
			<td>Email support</td>
			<td>$208.95* / month</td>			
		</tr>
		<tr class="error">
			<td>City</td>
			<td>Triple Web Instance<br/>Single Worker Instance</td>
			<td>Unlimited DB<br/>0.4 GB cache</td>
			<td>Send 100,000 emails per month</td>						
			<td>Email &amp; Skype support</td>
			<td>$539.95* / month</td>			
		</tr>
		<tr class="warning">
			<td>Country</td>
			<td>Quad Web Instance<br/>Double Worker Instance</td>
			<td>Unlimited DB<br/>0.8 GB cache</td>
			<td>Send 300,000 emails per month</td>						
			<td>Email &amp; Skype support</td>
			<td>$789.95* / month</td>			
		</tr>
		<tr class="info">
			<td>Earth</td>
			<td>Octuple Web Instance<br/>Quad Worker Instance</td>
			<td>Unlimited DB<br/>1.7 GB cache</td>
			<td>Send 700,000 emails per month</td>						
			<td>Email, Skype &amp; basic phone support</td>
			<td>$1609.95* / month</td>			
		</tr>
		<tr class="custom">
			<td>Custom</td>
			<td>
				<label>Web Instance</label>
				<input type="number" max="100" min="1" id="ps-web" value="1" /><br/>
				<label>Worker Instance</label>					
				<input type="number" max="100" min="0" id="ps-worker" value="0" /></td>
			<td>
				<label>Database</label><br/><select id="postgres"></select><br/>
				<span id="postgres_desc"></span>
			</td>
			<td>
				<label>Emails</label></br><select id="sendgrid"><option value="0">None</option></select><br/>
				<span id="sendgrid_desc"></span>
			</td>						
			<td><label>Support</label><br/><select id="support">
				<option value="0">None</option>
				<option value="1">Email</option>
				<option value="3">Email + Skype</option>								
				<option value="7">Email + Skype + Phone</option>												
			</select></td>
			<td>$<span id="amount"></span>* / month</td>			
		</tr>	
	</tbody>
</table>	
<small>* Starts from indicated price, additional bandwidth and storage will be added to price on bill</small>
</div>
