<div class="welcome row-fluid">
	<div class="info span4">
		<h2>Hello Campaigner</h2>
		<p>Campanify is a fully managed, scalable, online campaign platform. If you ever tired
			about dealing with complex Cms, or exploded sites on launch because of insufficient resources
			or developer mistakes, this is absolutely for you.
		</p>
		<h5>
		One click setup, Scalable, Fully Managed, Flexible, Themes, Database Tools, Analytics and many awesome features.
		</h5>
	</div>
	<div class="flag span4">
		<%= image_tag "logo/flag-1024.png", :class => "flag-256" %>	
	</div>
	
	<div class="newsletter span4">
		<h4>Leave us your email below, and we’ll notify the minute we open the doors.</h4>
		<form action="http://campanify.us5.list-manage.com/subscribe/post?u=e1342de935a1b7b5938d3f4d5&amp;id=93e20d7f3d" 
		method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
		class="form-inline" target="_blank" novalidate>
		<input type="email" value="" name="EMAIL" class="email input-small" placeholder="email address">
		<input type="submit" value="Submit" name="subscribe" class="btn">
		</form>
	</div>
</div>
