<br/>
<div class="hero-unit welcome">
<i class="logo-96"></i><br/>
<h2>We are on private alpha!</h2>

<p>Campanify is cloud backed online campaigning platform.<br/>
Leave us your email below, and we’ll notify the minute we open the doors.</p>	

<form action="http://campanify.us5.list-manage.com/subscribe/post?u=e1342de935a1b7b5938d3f4d5&amp;id=93e20d7f3d" 
method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" 
class="form-inline" target="_blank" novalidate>

<input type="email" value="" name="EMAIL" class="email" placeholder="email address">
<input type="submit" value="Keep Me Updated" name="subscribe" class="btn">
	
</form>
</div>